USE [VSH]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](30) NULL,
	[MaXa] [int] NULL,
	[TenTK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[KhachHangTaiKhoan]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[KhachHangTaiKhoan] AS
select KhachHang.*,TaiKhoan.*
from KhachHang
inner join TaiKhoan  on KhachHang.TenTK = TaiKhoan.TenTaiKhoan 
GO
/****** Object:  View [dbo].[KhachHangTaiKhoan1]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[KhachHangTaiKhoan1] AS
select KhachHang.*,TaiKhoan.*
from KhachHang
inner join TaiKhoan  on KhachHang.TenTK = TaiKhoan.TenTaiKhoan 
GO
/****** Object:  Table [dbo].[Huyen]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huyen](
	[MaHuyen] [int] NOT NULL,
	[TenHuyen] [nvarchar](34) NULL,
	[MaT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[MaTinh] [int] NOT NULL,
	[TenTinh] [nvarchar](34) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xa]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xa](
	[MaXa] [int] NOT NULL,
	[TenXa] [nvarchar](34) NULL,
	[MaH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaXa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewHoSoKH]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[viewHoSoKH] AS
select distinct k.*, x.TenXa, h.TenHuyen, t.TenTinh, a.*
from KhachHang k, Xa x, Huyen h, Tinh t, TaiKhoan a
where k.MaXa=x.MaXa and x.MaH=h.MaHuyen and h.MaT=t.MaTinh and a.TenTaiKhoan=k.TenTK
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[SoLuong] [int] NULL,
	[MaSP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTac]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTac](
	[MaDoiTac] [int] IDENTITY(1,1) NOT NULL,
	[TenDoiTac] [varchar](255) NOT NULL,
	[DiaChi] [varchar](255) NOT NULL,
	[LinhVucHoatDong] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoiTac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[MaDuAn] [int] IDENTITY(1,1) NOT NULL,
	[TenDuAn] [nvarchar](100) NOT NULL,
	[ThoiGianThucHien] [int] NULL,
	[MaPB] [int] NULL,
	[MaDT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayLap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](30) NULL,
	[MaNganh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nganh]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nganh](
	[MaNganh] [int] IDENTITY(1,1) NOT NULL,
	[TenNganh] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[Luong] [money] NULL,
	[SDT] [varchar](11) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](30) NULL,
	[MaXa] [int] NULL,
	[MaCV] [int] NULL,
	[MaPB] [int] NULL,
	[TenTK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaNV] [int] NOT NULL,
	[MaDA] [int] NOT NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongBan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaChung] [varchar](20) NULL,
	[TenKhoaHoc] [nvarchar](100) NULL,
	[DongDanh] [nvarchar](100) NULL,
	[TenBanDau] [nvarchar](100) NULL,
	[TenThuongGoi] [nvarchar](100) NULL,
	[KichThuoc] [nvarchar](20) NULL,
	[ToChucCoThe] [nvarchar](50) NULL,
	[NguoiPhanLap] [nvarchar](20) NULL,
	[NamPhanLap] [nvarchar](20) NULL,
	[NguoiDinhDanh] [nvarchar](255) NULL,
	[NgayKiGuiMau] [date] NULL,
	[ViTriThuMau] [nvarchar](255) NULL,
	[ChauLuc] [nvarchar](20) NULL,
	[QuocGia] [nvarchar](20) NULL,
	[MoiTruongThuMau] [nvarchar](50) NULL,
	[DieuKienNuoiCoBan] [nvarchar](255) NULL,
	[SanSinhDocTo] [nvarchar](50) NULL,
	[TinhTrangCuaChung] [nvarchar](255) NULL,
	[SuChongLaiKhuayDong] [nvarchar](255) NULL,
	[ThongTinGen] [text] NULL,
	[HinhAnh] [varchar](20) NULL,
	[GiaBan] [money] NULL,
	[SoLuongTon] [int] NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTHoaDon] ON 

INSERT [dbo].[CTHoaDon] ([MaCT], [MaHD], [SoLuong], [MaSP]) VALUES (1, 1, 1, 1)
INSERT [dbo].[CTHoaDon] ([MaCT], [MaHD], [SoLuong], [MaSP]) VALUES (2, 1, 1, 8)
INSERT [dbo].[CTHoaDon] ([MaCT], [MaHD], [SoLuong], [MaSP]) VALUES (3, 1, 1, 13)
SET IDENTITY_INSERT [dbo].[CTHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap]) VALUES (1, 27625, NULL, CAST(N'2023-12-14T17:36:11.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[Huyen] ([MaHuyen], [TenHuyen], [MaT]) VALUES (1, N'Quận Ba Đình', 1)
INSERT [dbo].[Huyen] ([MaHuyen], [TenHuyen], [MaT]) VALUES (2, N'Quận Hoàn Kiếm', 1)
INSERT [dbo].[Huyen] ([MaHuyen], [TenHuyen], [MaT]) VALUES (3, N'Quận Tây Hồ', 1)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaXa], [TenTK]) VALUES (27625, N'nqminh', CAST(N'2002-12-28' AS Date), N'Nam', N'fdas', 27010, N'nqm123123')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaXa], [TenTK]) VALUES (27626, N'Nguyen Quang Minh', CAST(N'2002-10-14' AS Date), N'Nam', N'140 Lê Trọng Tấn', 27016, N'minh23')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaNganh]) VALUES (1, N'Chlorophyceae', 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaNganh]) VALUES (2, N'Trebouxiophyceae', 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaNganh]) VALUES (3, N'Chlorarachniophyceae ', 5)
SET IDENTITY_INSERT [dbo].[Lop] OFF
GO
SET IDENTITY_INSERT [dbo].[Nganh] ON 

INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (1, N'Chlorophyta')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (2, N'Cyanophyta ')
INSERT [dbo].[Nganh] ([MaNganh], [TenNganh]) VALUES (3, N'Glaucophyta ')
SET IDENTITY_INSERT [dbo].[Nganh] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau]) VALUES (N'minh23', N'123')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau]) VALUES (N'nqm123123', N'234')
GO
INSERT [dbo].[Tinh] ([MaTinh], [TenTinh]) VALUES (1, N'Thành phố Hà Nội')
INSERT [dbo].[Tinh] ([MaTinh], [TenTinh]) VALUES (79, N'Thành phố Hồ Chí Minh')
GO
INSERT [dbo].[Xa] ([MaXa], [TenXa], [MaH]) VALUES (1, N'Phường Phúc Xá', 1)
INSERT [dbo].[Xa] ([MaXa], [TenXa], [MaH]) VALUES (4, N'Phường Trúc Bạch', 1)
INSERT [dbo].[Xa] ([MaXa], [TenXa], [MaH]) VALUES (6, N'Phường Vĩnh Phúc', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__358F2BB7E0C71669]    Script Date: 12/15/2023 4:19:46 AM ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaChung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('Chua Cap Ma') FOR [MaChung]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((10)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDonHD]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDonSP]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAnDoiTac] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DoiTac] ([MaDoiTac])
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAnDoiTac]
GO
ALTER TABLE [dbo].[DuAn]  WITH CHECK ADD  CONSTRAINT [FK_DuAnPhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[DuAn] CHECK CONSTRAINT [FK_DuAnPhongBan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamKhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_SanPhamKhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_SanPhamNhanVien]
GO
ALTER TABLE [dbo].[Huyen]  WITH CHECK ADD  CONSTRAINT [FK_HuyenTinh] FOREIGN KEY([MaT])
REFERENCES [dbo].[Tinh] ([MaTinh])
GO
ALTER TABLE [dbo].[Huyen] CHECK CONSTRAINT [FK_HuyenTinh]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangTaiKhoan] FOREIGN KEY([TenTK])
REFERENCES [dbo].[TaiKhoan] ([TenTaiKhoan])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHangTaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangXa] FOREIGN KEY([MaXa])
REFERENCES [dbo].[Xa] ([MaXa])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHangXa]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_LopNganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[Nganh] ([MaNganh])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_LopNganh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVienChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienPhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVienPhongBan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienTaiKhoan] FOREIGN KEY([TenTK])
REFERENCES [dbo].[TaiKhoan] ([TenTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVienTaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienXa] FOREIGN KEY([MaXa])
REFERENCES [dbo].[Xa] ([MaXa])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVienXa]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongDuAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DuAn] ([MaDuAn])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCongDuAn]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCongNhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPhamLop]
GO
ALTER TABLE [dbo].[Xa]  WITH CHECK ADD  CONSTRAINT [FK_XaHuyen] FOREIGN KEY([MaH])
REFERENCES [dbo].[Huyen] ([MaHuyen])
GO
ALTER TABLE [dbo].[Xa] CHECK CONSTRAINT [FK_XaHuyen]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (((datepart(year,getdate())-datepart(year,[NgaySinh]))>(18)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Email] like 'a-zA-Z0-9._%+-+@a-zA-Z0-9.-+\.a-zA-Z{2,6}'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([HoTen] like 'A-Za-z{5,50}'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (((datepart(year,getdate())-datepart(year,[NgaySinh]))>(18)))
GO
/****** Object:  StoredProcedure [dbo].[spCapNhatMatKhau]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spCapNhatMatKhau](@tenTK varchar(50), @matKhauMoi varchar(255))
as
begin
	UPDATE KhachHangTaiKhoan
	SET MatKhau = @matKhauMoi
	WHERE TenTaiKhoan = @tenTK;
end;
GO
/****** Object:  StoredProcedure [dbo].[spDangKy1]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spDangKy1]
(
	@tenTaiKhoan varchar(50),
	@matKhau varchar(255),
	@hoTen nvarchar(50),
	@ngaySinh date,
	@gioiTinh nvarchar(10),
	@diaChi nvarchar(30),
	@maXa int
)
as
begin 
	insert into TaiKhoan values(@tenTaiKhoan, @matKhau)

	insert into KhachHang(HoTen, NgaySinh, GioiTinh, DiaChi,MaXa,TenTK) values(@hoTen, @ngaySinh, @gioiTinh, @diaChi, @maXa, @tenTaiKhoan)
end;
GO
/****** Object:  StoredProcedure [dbo].[spHuyenTheoTinh]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spHuyenTheoTinh]
(
	@maTinh int
)
as
begin 
	select DISTINCT Huyen.* from Huyen, Tinh where Huyen.MaT = @maTinh
end;
GO
/****** Object:  StoredProcedure [dbo].[spSanPhamDaDat]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spSanPhamDaDat](@tenTaiKhoan varchar(50))
as
begin
	select h.MaHD, k.HoTen, h.NgayLap, s.TenKhoaHoc, c.SoLuong, s.GiaBan, (c.SoLuong*s.GiaBan) as DonGia
	from HoaDon h, CTHoaDon c, KhachHang k, SanPham s
	where h.MaHD=c.MaHD and h.MaKH=k.MaKH and c.MaSP=s.ID and k.TenTK=@tenTaiKhoan
end;
GO
/****** Object:  StoredProcedure [dbo].[spSearch_SanPham]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSearch_SanPham]
(
	@strSearch nvarchar(100)
)
AS
BEGIN
	if (@strSearch is null or @strSearch = N'')
	begin
		SELECT p.ID, p.MaChung, p.TenKhoaHoc, p.SoLuongTon, p.GiaBan 
		FROM SanPham p
	end
	else
	begin
		SELECT p.ID, p.MaChung, p.TenKhoaHoc, p.SoLuongTon, p.GiaBan 
		FROM SanPham p
		WHERE p.MaChung LIKE N'%'+@strSearch+'%'
		OR p.TenKhoaHoc LIKE N'%'+@strSearch+'%'
	end
END;
GO
/****** Object:  StoredProcedure [dbo].[spShowHoSoKH]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spShowHoSoKH] (@tenTaiKhoan varchar(50))
as
begin 
	select distinct k.*, x.TenXa, h.TenHuyen, t.TenTinh, a.*
	from KhachHang k, Xa x, Huyen h, Tinh t, TaiKhoan a
	where k.MaXa=x.MaXa and x.MaH=h.MaHuyen and h.MaT=t.MaTinh and a.TenTaiKhoan=k.TenTK and TenTaiKhoan=@tenTaiKhoan
end;
GO
/****** Object:  StoredProcedure [dbo].[spShowViewKHTK]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spShowViewKHTK]
as
begin 
	select * from [KhachHangTaiKhoan]
end;
GO
/****** Object:  StoredProcedure [dbo].[spXaTheoHuyen]    Script Date: 12/15/2023 4:19:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spXaTheoHuyen] (@maHuyen int)
as
begin 
	select DISTINCT Xa.* from Xa, Huyen where Xa.MaH = @maHuyen
end;
GO
