
@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanh toán thành công</h2>

<a href="~/KhachHang/GioHang/XemGioHang" class="btn btn-info" role="button"> < Giỏ hàng</a>

